.clr{clear: both;height: 1px;margin: -1px 0 0;overflow: hidden;}
.thethe-comments{
	list-style:none !important;
	margin:0 !important;
	padding:0 !important;	
}
.thethe-comments .thethe-comment{
	padding:10px;
	margin-top:10px;
	background:none;
	border:1px solid #e5e5e5;
}
.thethe-comments .thethe-comment:not(#ie){
	border-color:rgba(0,0,0,.1);
}
.thethe-comments .thethe-comment:first-child{
	margin-top:0;	
}
.thethe-comments .comment-author-avatar{
	float:left;
	padding-right:10px;
	margin:0;
}
.thethe-comments .comment-title{
	font-size:120%;
	line-height:1.3;
	margin:0;
	text-transform:none;
	clear:none !important;
}
.thethe-comments .comment-meta{
	font-size:90%;
	text-align:right;
	margin-top:10px;
}
.thethe-comments .comment-text{
	padding:10px 0 0;
}
.thethe-comments .comment-text > :first-child{
	margin-top:0;
}
.thethe-comments .comment-author-avatar img{
	display:block;
	width:auto;
	height:auto;	
}